name: CentOS Linux

on:
  push:
    branches: [ master, dev, tmp ]
  pull_request:
    branches: [ master, dev, tmp ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        tag: [8]

    container: centos:${{ matrix.tag }}

    steps:
      - run: sed -i 's/mirrorlist/#mirrorlist/g' /etc/yum.repos.d/CentOS-Linux-*
      - run: sed -i 's|#baseurl=http://mirror.centos.org|baseurl=http://vault.centos.org|g' /etc/yum.repos.d/CentOS-Linux-*

      - run: |
            yum -y update
            yum -y install epel-release
            yum -y --enablerepo=epel update
            yum -y --enablerepo=epel install curl xz gcc-c++
        if: ${{ matrix.tag == 7 }}

      - run: |
            dnf -y update
            dnf -y install curl xz gcc-c++
        if: ${{ matrix.tag == 8 }}

      - uses: actions/checkout@v3

      - run: ./ppkg --help
      - run: ./ppkg --version

      - run: ./ppkg setup

      - run: ./ppkg about

      - run: ./ppkg integrate zsh

      - run: ./ppkg update

      - run: ./ppkg search lib
      - run: ./ppkg search uctags

      - run: ./ppkg info-available uctags
      - run: ./ppkg info-available uctags version
      - run: ./ppkg info-available uctags web-url
      - run: ./ppkg info-available uctags src-url

      - run: ./ppkg depends uctags

      - run: ./ppkg install uctags


      - run: ./ppkg tree uctags

      - run: ./ppkg export uctags tar.xz

      - run: yum -y install rpmdevtools rpmlint
        if: ${{ matrix.tag == 7 }}

      - run: dnf -y install rpmdevtools rpmlint
        if: ${{ matrix.tag == 8 }}

      - run: ./ppkg export uctags rpm -o ~/
      - run: ./ppkg export uctags rpm -o a/b.rpm

      - run: rpm -i a/b.rpm
      - run: rpm -ql uctags


      - run: ./ppkg formula-repo-list

      - run: ./ppkg ls-available
      - run: ./ppkg ls-installed
      - run: ./ppkg ls-outdated

      - run: ./ppkg is-available uctags
      - run: ./ppkg is-installed uctags
      - run: ./ppkg is-outdated  uctags || echo 'not outdated'

      - run: ./ppkg uninstall uctags

      - run: ./ppkg fetch curl

      - run: ./ppkg upgrade-self
