name: FreeBSD

on:
  push:
    branches: [ master, dev, tmp ]
  pull_request:
    branches: [ master, dev, tmp ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        freebsd-version: ['14.2', '14.1', '14.0', '13.4', '13.3', '13.2', '13.1']
        pm: ['--syspm', '']

    steps:
      - uses: actions/checkout@v4

      - uses: cross-platform-actions/action@v0.26.0
        with:
          operating_system: freebsd
          version: ${{ matrix.freebsd-version }}
          shell: bash
          run: |
            run() {
              printf "\033[0;35m==>\033[0m \033[0;32m%b\n\033[0m" "$*"
              eval "$@"
            }

            run sudo pkg install -y curl libnghttp2 gcc

            run ./ppkg --help
            run ./ppkg --version

            run ./ppkg setup ${{ matrix.pm }}

            run ./ppkg about

            run ./ppkg integrate zsh

            run ./ppkg update

            run ./ppkg search lib
            run ./ppkg search uctags

            run ./ppkg info-available uctags
            run ./ppkg info-available uctags summary
            run ./ppkg info-available uctags web-url
            run ./ppkg info-available uctags version

            run ./ppkg depends uctags


            run ./ppkg install uctags


            run ./ppkg tree uctags
            run ./ppkg bundle uctags .tar.xz

            run ./ppkg formula-repo-list


            run ./ppkg ls-available
            run ./ppkg ls-installed
            run ./ppkg ls-outdated

            run ./ppkg is-available uctags
            run ./ppkg is-installed uctags
            run ./ppkg is-outdated uctags || echo "not outdated"

            run ./ppkg uninstall uctags

            run ./ppkg fetch curl

            run ./ppkg upgrade-self
