name: FreeBSD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: macos-12

    strategy:
      fail-fast: false
      matrix:
        version: [13, 12]
    
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v2
        with:
          path: ~/.vagrant.d/boxes
          key: vagrant-generic-freebsd-${{ matrix.version }}
          restore-keys: |
            vagrant-generic-freebsd-${{ matrix.version }}

      - uses: leleliu008/github-actions-vagrant@v1
        with:
          mem: 2048
          box: generic/freebsd${{ matrix.version }}
          run: |
            run pkg update
            run pkg install -y curl libnghttp2

            run bin/ppkg --help
            run bin/ppkg --version

            run bin/ppkg setup --use-system-package-manager

            run bin/ppkg env

            run bin/ppkg integrate zsh

            run bin/ppkg update

            run bin/ppkg search lib
            run bin/ppkg search libzip

            run bin/ppkg info libzip
            run bin/ppkg info libzip summary
            run bin/ppkg info libzip webpage
            run bin/ppkg info libzip version

            run bin/ppkg depends libzip


            run bin/ppkg install libzip


            run bin/ppkg tree libzip
            run bin/ppkg pack libzip -t tar.xz

            run bin/ppkg formula-repo-list


            run bin/ppkg ls-available
            run bin/ppkg ls-installed
            run bin/ppkg ls-outdated

            run bin/ppkg is-available libzip
            run bin/ppkg is-installed libzip
            run bin/ppkg is-outdated libzip || echo "not outdated"

            run bin/ppkg uninstall libzip

            run bin/ppkg fetch curl

            run bin/ppkg upgrade-self
