name: openSUSE Leap

on:
  push:
    branches: [ master, dev, tmp ]
  pull_request:
    branches: [ master, dev, tmp ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        tag: [15.4, 15.3]

    container: opensuse/leap:${{ matrix.tag }}

    steps:
      - run: zypper update -y
      - run: zypper install -y curl tar gzip xz gcc-c++

      - uses: actions/checkout@v4

      - run: ./ppkg --help
      - run: ./ppkg --version

      - run: ./ppkg setup

      - run: ./ppkg about

      - run: ./ppkg integrate zsh

      - run: ./ppkg update

      - run: ./ppkg search lib
      - run: ./ppkg search uctags

      - run: ./ppkg info-available uctags
      - run: ./ppkg info-available uctags version
      - run: ./ppkg info-available uctags web-url
      - run: ./ppkg info-available uctags src-url

      - run: ./ppkg depends uctags

      - run: ./ppkg install uctags


      - run: ./ppkg tree uctags

      - run: ./ppkg bundle uctags .tar.xz

      - run: zypper install -y rpmdevtools rpmlint rpm-build

      - run: ./ppkg export uctags .rpm
      - run: ./ppkg export uctags ~/.rpm
      - run: ./ppkg export uctags a/b.rpm

      - run: rpm -i a/b.rpm
      - run: rpm -ql uctags


      - run: ./ppkg formula-repo-list

      - run: ./ppkg ls-available
      - run: ./ppkg ls-installed
      - run: ./ppkg ls-outdated

      - run: ./ppkg is-available uctags
      - run: ./ppkg is-installed uctags
      - run: ./ppkg is-outdated  uctags || echo "not outdated"

      - run: ./ppkg uninstall uctags

      - run: ./ppkg fetch curl

      - run: ./ppkg upgrade-self
