name: Rocky Linux

on:
  push:
    branches: [ master, dev, tmp ]
  pull_request:
    branches: [ master, dev, tmp ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        tag: ['8', '9']

    container: rockylinux:${{ matrix.tag }}

    steps:
      - run: dnf -y update
      - run: dnf -y install xz gcc-c++
      - run:  |
          command -v curl > /dev/null || dnf -y install curl
          #https://bugs.launchpad.net/tripleo/+bug/1953156

      - uses: actions/checkout@v4


      - run: ./ppkg

      - run: ./ppkg --help
      - run: ./ppkg -h

      - run: ./ppkg --version
      - run: ./ppkg -V

      - run: ./ppkg setup -v

      - run: ./ppkg about
      - run: ./ppkg about -v

      - run: ./ppkg integrate zsh

      - run: ./ppkg update

      - run: ./ppkg search lib
      - run: ./ppkg search zip

      - run: ./ppkg info-available uctags
      - run: ./ppkg info-available uctags --yaml
      - run: ./ppkg info-available uctags --json
      - run: ./ppkg info-available uctags version
      - run: ./ppkg info-available uctags license
      - run: ./ppkg info-available uctags summary
      - run: ./ppkg info-available uctags web-url
      - run: ./ppkg info-available uctags git-url
      - run: ./ppkg info-available uctags git-sha
      - run: ./ppkg info-available uctags git-ref
      - run: ./ppkg info-available uctags src-url
      - run: ./ppkg info-available uctags src-sha


      - run: ./ppkg depends uctags
      - run: ./ppkg depends uctags -t d2
      - run: ./ppkg depends uctags -t dot
      - run: ./ppkg depends uctags -t box
      - run: ./ppkg depends uctags -t dot -o .
      - run: ./ppkg depends uctags -t box -o .
      - run: ./ppkg depends uctags -o a/
      - run: ./ppkg depends uctags -o b/
      - run: ./ppkg depends uctags -o a.dot
      - run: ./ppkg depends uctags -o b.box

      - run: ./ppkg fetch gzip
      - run: ./ppkg fetch gsed -v

      - run: ./ppkg install uctags

      - run: ./ppkg tree uctags


      - run: ./ppkg info-installed uctags installed-dir
      - run: ./ppkg info-installed uctags installed-files
      - run: ./ppkg info-available uctags version
      - run: ./ppkg info-installed uctags builtat-iso-8601-utc
      - run: ./ppkg info-installed uctags builtat-iso-8601
      - run: ./ppkg info-installed uctags builtat-rfc-3339
      - run: ./ppkg info-installed uctags builtat-iso-8601-utc
      - run: ./ppkg info-installed uctags builtat-rfc-3339-utc


      - run: ./ppkg pack uctags
      - run: ./ppkg export uctags tar.gz
      - run: ./ppkg export uctags tar.lz
      - run: ./ppkg export uctags tar.xz
      - run: ./ppkg export uctags tar.bz2
      - run: ./ppkg export uctags zip


      - run: dnf -y install rpmdevtools rpmlint

      - run: ./ppkg export uctags rpm -o ~/
      - run: ./ppkg export uctags rpm -o a/b.rpm

      - run: rpm -i a/b.rpm
      - run: rpm -ql uctags


      - run: |
          printf '%s\n' 'version: 1000' >> ~/.ppkg/repos.d/official-core/formula/libyaml.yml


      - run: ./ppkg ls-available
      - run: ./ppkg ls-installed
      - run: ./ppkg ls-outdated

      - run: ./ppkg is-available uctags
      - run: ./ppkg is-installed uctags
      - run: ./ppkg is-outdated  libyaml

      - run: ./ppkg upgrade   uctags
      - run: ./ppkg reinstall uctags
      - run: ./ppkg uninstall uctags

      - run: ./ppkg formula-repo-list
      - run: ./ppkg formula-repo-add my_repo https://github.com/leleliu008/ppkg-formula-repository-official-core
      - run: ./ppkg formula-repo-del my_repo

      - run: ./ppkg cleanup

      - run: ./ppkg upgrade-self
