name: Ubuntu

on:
  push:
    branches: [ master, dev, tmp ]
  pull_request:
    branches: [ master, dev, tmp ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [20.04, 22.04]

    container: ubuntu:${{ matrix.version }}

    steps:
      - run: apt -y update
      - run: apt -y install curl xz-utils g++

      - uses: actions/checkout@v4

      - run: ./ppkg --help
      - run: ./ppkg --version

      - run: ./ppkg setup

      - run: ./ppkg about

      - run: ./ppkg integrate zsh

      - run: ./ppkg update

      - run: ./ppkg search lib
      - run: ./ppkg search uctags

      - run: ./ppkg info-available uctags
      - run: ./ppkg info-available uctags summary
      - run: ./ppkg info-available uctags web-url
      - run: ./ppkg info-available uctags version

      - run: ./ppkg depends uctags

      - run: ./ppkg install uctags

      - run: ./ppkg tree uctags

      - run: ./ppkg bundle uctags .tar.gz
      - run: ./ppkg bundle uctags .tar.xz
      - run: ./ppkg bundle uctags .tar.bz2
      - run: ./ppkg bundle uctags .zip

      - run: ./ppkg export uctags .deb
      - run: ./ppkg export uctags ~/.deb
      - run: ./ppkg export uctags a/b.deb

      - run: dpkg -i a/b.deb
      - run: dpkg -L uctags

      - run: ./ppkg formula-repo-list

      - run: ./ppkg ls-available
      - run: ./ppkg ls-installed
      - run: ./ppkg ls-outdated

      - run: ./ppkg is-available uctags
      - run: ./ppkg is-installed uctags
      - run: ./ppkg is-outdated  uctags || echo "not outdated"

      - run: ./ppkg info-installed uctags installed-dir
      - run: ./ppkg info-installed uctags installed-files
      - run: ./ppkg info-installed uctags builtat
      - run: ./ppkg info-installed uctags builtat-rfc-3339-utc
      - run: ./ppkg info-installed uctags builtat-iso-8601-utc
      - run: ./ppkg info-installed uctags builtat-rfc-3339
      - run: ./ppkg info-installed uctags builtat-iso-8601

      - run: ./ppkg uninstall uctags

      - run: ./ppkg fetch curl

      - run: ./ppkg upgrade-self
