name: VoidLinux-musl

on:
  push:
    branches: [ master, dev, tmp ]
  pull_request:
    branches: [ master, dev, tmp ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    container: voidlinux/voidlinux-musl

    steps:
      # SSL certificate subject doesn't match host alpha.de.repo.voidlinux.org
      # ERROR: [reposync] failed to fetch file `https://alpha.de.repo.voidlinux.org/current/x86_64-repodata': Operation not permitted
      - run: sed -i s/alpha.de.repo.voidlinux.org/repo-default.voidlinux.org/g /usr/share/xbps.d/*

      - run: xbps-install -Syu xbps
      - run: xbps-install -S
      - run: xbps-install -Syu curl xz git gcc

      - run: git config --global --add safe.directory /__w/ppkg/ppkg
      - run: git init
      - run: git remote add origin https://github.com/${{github.repository}}
      - run: git config --local gc.auto 0
      - run: git -c protocol.version=2 fetch --no-tags --prune --progress --no-recurse-submodules --depth=1 origin +${{github.sha}}:refs/remotes/origin/master
      - run: git checkout --progress --force -B master refs/remotes/origin/master
      - run: ls

      - run: ./ppkg --help
      - run: ./ppkg --version

      - run: ./ppkg setup

      - run: ./ppkg about

      - run: ./ppkg integrate zsh

      - run: ./ppkg update

      - run: ./ppkg search lib
      - run: ./ppkg search uctags

      - run: ./ppkg info-available uctags
      - run: ./ppkg info-available uctags summary
      - run: ./ppkg info-available uctags web-url
      - run: ./ppkg info-available uctags version

      - run: ./ppkg depends uctags


      - run: ./ppkg install uctags


      - run: ./ppkg tree uctags
      - run: ./ppkg export uctags tar.xz

      - run: ./ppkg formula-repo-list


      - run: ./ppkg ls-available
      - run: ./ppkg ls-installed
      - run: ./ppkg ls-outdated

      - run: ./ppkg is-available uctags
      - run: ./ppkg is-installed uctags
      - run: ./ppkg is-outdated uctags || echo "not outdated"

      - run: ./ppkg uninstall uctags

      - run: ./ppkg fetch curl

      - run: ./ppkg upgrade-self
